$color-primary : #cc5200; 
$color-btn-one :  #ffb31a;
$color-btn-two : #cc5200; 

$color-title-one : #000033;
$color-title-two : #000d1a;
$color-text : #3B3D3B;
$color-white : #ffffff;

$font-title-big : 'Playfair Display', serif;
$font-title-small : 'Inter', sans-serif;
$font-text : 'Mulish', sans-serif;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
}


.header {

    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;

    &__wrap {

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__left {

        &--img {

            width: 100px;
        }
    }

    &__navlist {

        list-style-type: none;
    }

    &__navitem {

        display: inline-block;
        padding: 10px 20px;

        &--sign {

            border: 1px solid $color-title-one;
            display: inline-block;
            padding: 10px 20px;
            
            &:hover {

                background-color: $color-primary;
                
            }
        }
        
    }

    &__navlink {

        text-decoration: none;
        color: $color-title-one;
        font-family: $font-text;
        position: relative;

        &--en {

            display: flex;
            column-gap: 5px;
            align-items: center;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: $color-primary;
            transform: scaleX(0);
            transition: transform .3s ease-in;
            transform-origin: right;
            bottom: 0;
            left: 0;
        }

        &:hover::after {

            transform: scaleX(1);
            transform-origin: left;
        }

        &--sign {

            text-decoration: none;
            color: $color-title-one;
        }

        
    }
}


.hero {

    width: 100%;
    background-image: url(../images/Decore.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &__wrap {

        display:grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 100px;
        align-items: center;
    }

    &__left {

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &--btn {

            display: flex;
            align-items: center;
            column-gap: 10px;

            &--img {

                width: 30px;
            }
        }

        &--content {

            position: relative;
        }
    
        &--img {
    
            position: absolute;
            top: 24%;
            left: 22%;
            width: 200px;
            object-fit: contain;
            z-index: -1;
        }
    }

    &__right {

        display: flex;
        align-items: center;
        flex-direction: column;
        

        &--img {

            width: 100%;
            min-height: 50vh;
            object-fit: cover;
        }
    }
}


.title {

    font-family: $font-title-big;
    font-size: 50px;
    
    &__hero {

        &--small {

            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            font-family: $font-title-small;
            color: $color-primary;
        }

        &--big {

            color: $color-title-one;
             
        }
    }
}

.text {

    font-family: $font-text;
    font-size: 16px;
    color: $color-text;
}


.btn {

    font-family: $font-text;
    font-size: 14px;
    background-color: $color-btn-one;
    border: none;
    padding: 10px 20px;
    color: $color-white;
    border-radius: 5px;


    &__left {

        &--two {

            display: flex;
            align-items: center;
            column-gap: 5px;
            color: $color-title-one;
            background: none;
        }
    }
}